<meta name="viewport" content="width=device-width, initial-scale=1">
<center>
	<h2>Please write your timeline by that format => start from/end to/time range</h2>
	<h2>for exsampel 10/12/30 it is means start from 10 oclock and ends at 12 oclock and the time range is 30 mins.</h2>
	<h2>or you can submit it empty to be a timeline from 0 oclock to 24 oclock by 1 hour time range, and then custimize it at next step :)</h2>
	<form method="POST">
		<label>timeline: </label>
		<input type="text" name="timeline">
		<input type="submit" name="submit">
	</form>
</center>