<!DOCTYPE html>
  {% for product in products %}
  	<h3>{{ product["product_name"] }}</h3>
  	<h3>by: {{ product["product_seller"] }}</h3>
  	<h3>product_cpacity: {{ product["product_cpacity"] }}</h3>
  	<h3>price: {{ product["product_price"] }}</h3>
  	<h3>activation: {{ product["product_activ"] }}</h3>
  	<h3>{{ product["product_image"] }}</h3>
  	<img src="/media/shayan/SHAYAN/SHAYAN2/json_base_app_database/UPLOAD_FOLDER/PRODUCT_IMG/0ab5714cc863b181ecee2f7dd64824c36aac22afd46dab1869325464c1be177e.jpeg">
  	<br>
  {% endfor %} 
  </div>
</div>    
</body>
</html>