<center>
<form method='POST'>
<p>name</p><input type='text' name='name' autocomplete="off"><br>
<p>username</p><input type='text', name='username' autocomplete="off"><br>
<p>Email</p><input type="text" name="email" autocomplete="off"><br>
<p>password</p><input type='password' name='password' autocomplete="off"><br>
<p>work</p><input type='text' name='work' autocomplete="off"><br><br>
<label for="check_product">sell product:</label>
<input type="checkbox" name="job_product" value="sell_product">
<label for"check_reserv">sell reserv time:</label>
<input type="checkbox" name="job_product" value="sell_reserv_time">
<label for="check_reserv">both: </label>
<input type="checkbox" name="job_product" value="sell_both">
<p>location</p><input type='text' name='location' autocomplete="off"><br>
<input type="submit" name="Submit">
</form>
</center>
